{
  "extends": ["eslint-config-airbnb-base", "plugin:jest/recommended"],
  "plugins": ["jest"],
  "env": {
    "node": true,
    "jest/globals": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "parser": "babel-eslint"
}
